// ## Colors

$Gray: #F4F5F9;
$White: #FFFFFF;
$Gray2: #F9FAFC;
$Green: #5a9f0e;
$GrayBlack: #767676;
$Black: #000000;
$Red: #ef3829;
$Blue: #1f97ae;

// BreakPoints

$breakpoint-small: 725px;
$breakpoint-medium: 1098px;